/* CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* =================================================== */
body {
    background: url("./images/game_wp4.jpg");
    color: white;
}

#main {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}

#left_container {
    float: left;
    width: 210px;
}


#div_player1 {
    position: fixed;
    top: 50;
    width: 200px;
    height: 170px;
    display: none;
}

#div_player2 {
    position: fixed;
    top: 220px;
    width: 200px;
    height: 170px;
    display: none;
}

#div_player3 {
    position: fixed;
    top: 390px;
    width: 200px;
    height: 170px;
    display: none;
}

#canvas_container {
    float: left;
    margin-left: 210px;
    margin-right: 10px;
    padding: 20px;
    background: url('./images/bg1.png');
}

#canvas_bg {
    background: url('./images/sand_bg.jpg');
}

#canvas {
    display: block;
    margin: auto auto;
}

#right_container {
    position: relative;
    display: inline-block;
    width: 340px;
}

#power_bar_container {
    position: absolute;
    top: 450px;
    right: 50px;
    width: 30px;
    height: 200px;
    border: solid 1px red;
}

#power_bar {
    position: absolute;
    bottom: 0px;
    width: 30px;
    height: 0px;
    background-color: red;
}

#power_level {
    position: absolute;
    top: 670px;
    right: 50px;
    font-size: 300%;
}

#power_level_label {
    position: absolute;
    top: 670px;
    right: 120px;
    font-size: 200%;
}

#local_hp_bar_container {
    display: inline-block;
    border: solid 1px white;
    width: 250px;
    height: 30px;
}

#local_hp_bar {
    width: 250px;
    height: 30px;
    background-color: green;
}

#special_status_container {
    display: none;
    font-size: 200%;
}